.encbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    background-color: #ff6d00;
  }
  
  .centerbox {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2em;
    transition: all ease-in-out 0.4s;
  }
  
  .centerbox:hover {
    background-color: #e04c16;
    color: #ffffff;
    transition: all ease-in-out 0.4s;
  }